<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">QubeApps</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened="true"
    >
      <mat-nav-list>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'paymentType' }"
          (click)="onNavItemClicked('paymentType')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Payment Type</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'priceLevelShift' }"
          (click)="onNavItemClicked('priceLevelShift')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Price Level Shift</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'transactionDetails' }"
          (click)="onNavItemClicked('transactionDetails')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Transaction Details</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'terminalCollection' }"
          (click)="onNavItemClicked('terminalCollection')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Terminal Collection</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'salesRemark' }"
          (click)="onNavItemClicked('salesRemark')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Sales Remark</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'hourSales' }"
          (click)="onNavItemClicked('hourSales')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Hour Sales</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'soldItemAnalysis' }"
          (click)="onNavItemClicked('soldItemAnalysis')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Sold Item Analysis</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'operatorCollection' }"
          (click)="onNavItemClicked('operatorCollection')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Operator Collection</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'averageSalesSummary' }"
          (click)="onNavItemClicked('averageSalesSummary')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Average Sales Summary</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'taxTransaction' }"
          (click)="onNavItemClicked('taxTransaction')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Tax Transaction</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'vendorVoucher' }"
          (click)="onNavItemClicked('vendorVoucher')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Vendor Voucher</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'receiptAnalysis' }"
          (click)="onNavItemClicked('receiptAnalysis')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Receipt Analysis</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'skuSales' }"
          (click)="onNavItemClicked('skuSales')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Sku Sales</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'groupSales' }"
          (click)="onNavItemClicked('groupSales')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Group Sales</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'departmentSales' }"
          (click)="onNavItemClicked('departmentSales')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Department Sales</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'transactionSales' }"
          (click)="onNavItemClicked('transactionSales')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Transaction Sales</span>
            </div>
          </div>
        </a>
        <a
          mat-list-item
          class="parent"
          [ngClass]="{ selected: selectedNavItem === 'transactionVoid' }"
          (click)="onNavItemClicked('transactionVoid')"
        >
          <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div>
              <span class="full-width">Transaction Void</span>
            </div>
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
