tfoot {
  position: sticky;
  bottom: 0px;
}
.backgroundWhite {
  height: 94px;
}
.backgroundWhitePage {
  background: #fff;
  position: sticky !important;
  top: 94px !important;
  width: 100% !important;
  height: 69px;
}
thead th {
  top: 162px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: #be2026;
}
.headingTop {
  top: 0px !important;
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 270px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
