tfoot .emptyRow {
  bottom: 104px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .subTotalPL {
  bottom: 52px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
}
@media screen and (min-width: 1455px) {
  tfoot .emptyRow {
    bottom: 66px !important;
  }
  tfoot .subTotalPL {
    bottom: 33px !important;
  }
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 460px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
