<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Store Voucher Report</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>Store Voucher Report</h2>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Selected Date</mat-label>
            <mat-select
              [(ngModel)]="selectedDate"
              (selectionChange)="onDateChange($event)"
            >
              <mat-option *ngFor="let date of dates" [value]="date.value">
                {{ date.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields && selectedDate == 'custom'"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields && selectedDate == 'custom'"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="75"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.M_CODE">
                {{ store.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [(ngModel)]="selectedTerminalItems"
              (selectionChange)="onTerminalChange($event)"
              [disabled]="terminalDisabled"
              multiple
            >
              <mat-option (click)="selectTerminalAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.M_CODE"
              >
                {{ terminal.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Shift</mat-label>
            <mat-select
              [(ngModel)]="selectedShiftItems"
              (selectionChange)="onShiftChange($event)"
              multiple
            >
              <mat-option (click)="selectShiftAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option *ngFor="let shift of shiftId" [value]="shift.M_CODE">
                {{ shift.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Operator</mat-label>
            <mat-select
              [(ngModel)]="selectedOperatorItems"
              (selectionChange)="onOperatorChange($event)"
              multiple
            >
              <mat-option (click)="selectOperatorAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let operator of operators"
                [value]="operator.M_CODE"
              >
                {{ operator.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="25"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Selected Date</mat-label>
            <mat-select
              [(ngModel)]="selectedDate"
              (selectionChange)="onDateChange($event)"
            >
              <mat-option *ngFor="let date of dates" [value]="date.value">
                {{ date.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="13"
          fxHide.xs
          class="alignCenter"
          *ngIf="selectedDate == 'custom'"
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="13"
          fxHide.xs
          class="alignCenter"
          *ngIf="selectedDate == 'custom'"
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.M_CODE">
                {{ store.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [(ngModel)]="selectedTerminalItems"
              (selectionChange)="onTerminalChange($event)"
              [disabled]="terminalDisabled"
              multiple
            >
              <mat-option (click)="selectTerminalAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.M_CODE"
              >
                {{ terminal.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Shift</mat-label>
            <mat-select
              [(ngModel)]="selectedShiftItems"
              (selectionChange)="onShiftChange($event)"
              multiple
            >
              <mat-option (click)="selectShiftAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option *ngFor="let shift of shiftId" [value]="shift.M_CODE">
                {{ shift.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Operator</mat-label>
            <mat-select
              [(ngModel)]="selectedOperatorItems"
              (selectionChange)="onOperatorChange($event)"
              multiple
            >
              <mat-option (click)="selectOperatorAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let operator of operators"
                [value]="operator.M_CODE"
              >
                {{ operator.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="9" fxHide.xs class="alignCenter">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100">
        <table>
          <thead>
            <tr>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Store</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Term</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Date</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>RCPT</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Shift</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>OPER</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>P/L</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>P/S</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Status</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Voucher</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Net Sales</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Amount</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="errorMessage && !loadingSpinner">
            <tr>
              <td
                colspan="13"
                style="
                  position: static;
                  color: red;
                  width: 100%;
                  text-align: center;
                "
              >
                {{ errorMessage }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadingSpinner">
  <app-loader></app-loader>
</div>
