tfoot {
  position: sticky;
  bottom: 0px;
}
.backgroundWhite {
  height: 84px;
}
.backgroundWhitePage {
  background: #fff;
  position: sticky !important;
  top: 85px !important;
  width: 100% !important;
  height: 60px;
}
.headingTop {
  top: 0px !important;
}
.image {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-left: 5px;
}
thead th {
  top: 145px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: #be2026;
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 240px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
