/* tfoot .emptyRow {
  bottom: 150px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .paidAmount {
  bottom: 120px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
}
tfoot .visaData {
  bottom: 90px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
}
tfoot .masterData {
  bottom: 60px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
}
tfoot .subTotalPL {
  bottom: 30px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
} */
tfoot {
  position: sticky;
  bottom: 0;
}
tfoot p {
  margin: 0px;
}
.backgroundWhitePage,
.backgroundWhitePageIncrease {
  background: #fff;
  position: sticky !important;
  width: 100% !important;
  height: 54px;
}
.backgroundWhitePage {
  top: 105px !important;
}
.backgroundWhitePageIncrease {
  top: 125px !important;
}
.backgroundWhite {
  height: 105px;
}
.backgroundSizeIncrease {
  height: 125px;
}
.thead th,
.theadIncrease th {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: #be2026;
}
.thead th {
  top: 158px;
}
.headingTop {
  top: 0px !important;
}
.theadIncrease th {
  top: 178px;
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 400px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .marginAdded {
    margin: 25px 0px 15px;
  }
  .subTotalBorder {
    margin-top: 35px;
  }
  .backgroundSizeIncrease {
    height: auto !important;
  }
}
