<!--  -->
<!-- <button (click)="downloadExcel()">1234</button> -->
<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Payment Type Report</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>Payment Type REPORT</h2>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.value">
                {{ store.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [(ngModel)]="selectedTerminalItems"
              (selectionChange)="onTerminalChange($event)"
              multiple
            >
              <mat-option (click)="selectTerminalAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.value"
              >
                {{ terminal.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Payment</mat-label>
            <mat-select
              [(ngModel)]="selectedPaymentItems"
              (selectionChange)="onPaymentChange($event)"
              multiple
            >
              <mat-option (click)="selectPaymentAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let payment of paymentId"
                [value]="payment.value"
              >
                {{ payment.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="73"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
          class="checkboxBottom"
        >
          <mat-checkbox
            [checked]="isChecked"
            (change)="onCheckboxChange($event)"
            >Transaction Void</mat-checkbox
          >
          <mat-checkbox
            [checked]="isCheckedShift"
            (change)="onShiftChange($event)"
            >Shift</mat-checkbox
          >
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="25"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>

        <div fxFlex="14" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="14" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.value">
                {{ store.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [(ngModel)]="selectedTerminalItems"
              (selectionChange)="onTerminalChange($event)"
              multiple
            >
              <mat-option (click)="selectTerminalAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.value"
              >
                {{ terminal.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Payment</mat-label>
            <mat-select
              [(ngModel)]="selectedPaymentItems"
              (selectionChange)="onPaymentChange($event)"
              multiple
            >
              <mat-option (click)="selectPaymentAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let payment of paymentId"
                [value]="payment.value"
              >
                {{ payment.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="14" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isChecked"
            (change)="onCheckboxChange($event)"
            >Transaction Void</mat-checkbox
          >
        </div>
        <div fxFlex="10" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isCheckedShift"
            (change)="onShiftChange($event)"
            >Shift</mat-checkbox
          >
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100" fxHide.xs>
        <!-- <table *ngIf="displayTable && rows">
          <thead>
            <tr>
              <th>STORE</th>
              <th>TERMINAL CODE</th>
              <th>TERMINAL</th>
              <th>PAYMENT</th>
              <th *ngFor="let column of columns">{{ column }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows">
              <td>{{ row.store_code }}</td>
              <td>{{ row.terminal_code }}</td>
              <td>{{ row.terminal }}</td>
              <td>{{ row.payment }}</td>
              <td>
                {{ row.DATE }}
              </td>
              <td>{{ row["PRICE LEVEL"] }}</td>
              <td>{{ row.SHIFT }}</td>
              <td class="alignRight">
                <span *ngIf="row.AMOUNT != undefined">RM {{ row.AMOUNT }}</span>
              </td>
              <td class="alignRight">
                <span *ngIf="row['ROUNDING ADJUST'] != undefined"
                  >RM {{ row["ROUNDING ADJUST"] }}</span
                >
              </td>
            </tr>
          </tbody>
        </table> -->
        <table>
          <thead>
            <tr>
              <th (click)="sortTable('date')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Store</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('terminal')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Terminal Code</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_DATETIME')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Terminal</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_RCPTNO')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Payment</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_STOCK_CODE')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Date</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SHORTDESC')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Price Level</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_PRICELVL')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Shift</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_PRICE_SHIFT')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Amount</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_STATUS')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Rounding Adjust</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="filteredData">
            <tr
              *ngIf="
                grandTotalData?.grand_total_quantity !== 0 &&
                grandTotalData?.grand_total_gross_sales != 0 &&
                grandTotalData?.grand_total_disc != 0 &&
                grandTotalData?.grand_total_net_sales != 0
              "
            >
              <td>{{ store_code }}</td>
              <td>{{ store_name }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>T1</td>
              <td>{{ terminal_name }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr *ngFor="let data of filteredData">
              <td></td>
              <td></td>
              <td>{{ data.PYMT_MASTCODE }}</td>
              <td>{{ data.PYMT_PAYBYCODEDESC }}</td>
              <td>{{ data.PYMT_CLOSEDATE | date }}</td>
              <td>{{ data.PYMT_SALES_PRICELVL }}</td>
              <td>{{ data.PYMT_STATUS }}</td>
              <td>{{ data.PYMT_PAYAMT }}</td>
              <td>{{ data.PYMT_ROUND_ADJ }}</td>
            </tr>

            <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="boldText">SubTotal</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="boldText">{{ data?.rcpt_quantity }}</td>
                <td class="boldText alignRight">
                  RM {{ data?.rcpt_gross_sales | number : "1.2-2" }}
                </td>
                <td class="boldText alignRight">
                  RM {{ data?.rcpt_discount | number : "1.2-2" }}
                </td>
                <td class="boldText alignRight">
                  RM {{ data?.rcpt_net_sales | number : "1.2-2" }}
                </td>
                <td></td>
              </tr> -->

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of Payment 1</td>
              <td></td>
              <td></td>
              <td class="boldText">{{ paidAmount | number : "1.2-2" }}</td>
              <td class="boldText">{{ roundAdj | number : "1.2-2" }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>{{ visaData.PYMT_MASTCODE }}</td>
              <td>{{ visaData.PYMT_PAYBYCODEDESC }}</td>
              <td>{{ visaData.PYMT_CLOSEDATE | date }}</td>
              <td>{{ visaData.PYMT_SALES_PRICELVL }}</td>
              <td>{{ visaData.PYMT_STATUS }}</td>
              <td>{{ visaData.PYMT_PAYAMT }}</td>
              <td>{{ visaData.PYMT_ROUND_ADJ }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of VISA</td>
              <td></td>
              <td></td>
              <td class="boldText">{{ visaDataSubtotal.paid_amt }}</td>
              <td class="boldText">{{ visaDataSubtotal.round_adj }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>{{ masterData.PYMT_MASTCODE }}</td>
              <td>{{ masterData.PYMT_PAYBYCODEDESC }}</td>
              <td>{{ masterData.PYMT_CLOSEDATE | date }}</td>
              <td>{{ masterData.PYMT_SALES_PRICELVL }}</td>
              <td>{{ masterData.PYMT_STATUS }}</td>
              <td>{{ masterData.PYMT_PAYAMT }}</td>
              <td>{{ masterData.PYMT_ROUND_ADJ }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of MASTER</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ masterDataSubtotal.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ masterDataSubtotal.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalDataT1.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalDataT1.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of T1</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalT1.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalT1.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td>T2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let data of filteredDataT2">
              <td></td>
              <td></td>
              <td>{{ data.PYMT_MASTCODE }}</td>
              <td>{{ data.PYMT_PAYBYCODEDESC }}</td>
              <td>{{ data.PYMT_CLOSEDATE | date }}</td>
              <td>{{ data.PYMT_SALES_PRICELVL }}</td>
              <td>{{ data.PYMT_STATUS }}</td>
              <td>{{ data.PYMT_PAYAMT }}</td>
              <td>{{ data.PYMT_ROUND_ADJ }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of Payment 1</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ paidAmountT2.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ paidAmountT2.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalDataT2.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalDataT2.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of T2</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalT2.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalT2.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td>T3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let data of filteredDataT3">
              <td></td>
              <td></td>
              <td>{{ data.PYMT_MASTCODE }}</td>
              <td>{{ data.PYMT_PAYBYCODEDESC }}</td>
              <td>{{ data.PYMT_CLOSEDATE | date }}</td>
              <td>{{ data.PYMT_SALES_PRICELVL }}</td>
              <td>{{ data.PYMT_STATUS }}</td>
              <td>{{ data.PYMT_PAYAMT }}</td>
              <td>{{ data.PYMT_ROUND_ADJ }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of Payment 1</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ paidAmountT3.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ paidAmountT3.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalDataT3.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalDataT3.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of T3</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalT3.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalT3.round_adj | number : "1.2-2" }}
              </td>
            </tr>

            <tr>
              <td></td>
              <td>T4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let data of filteredDataT4">
              <td></td>
              <td></td>
              <td>{{ data.PYMT_MASTCODE }}</td>
              <td>{{ data.PYMT_PAYBYCODEDESC }}</td>
              <td>{{ data.PYMT_CLOSEDATE | date }}</td>
              <td>{{ data.PYMT_SALES_PRICELVL }}</td>
              <td>{{ data.PYMT_STATUS }}</td>
              <td>{{ data.PYMT_PAYAMT }}</td>
              <td>{{ data.PYMT_ROUND_ADJ }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of Payment 1</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ paidAmountT4.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ paidAmountT4.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalDataT4.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalDataT4.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of T4</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalT3.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalT3.round_adj | number : "1.2-2" }}
              </td>
            </tr>

            <tr>
              <td></td>
              <td>T5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let data of filteredDataT5">
              <td></td>
              <td></td>
              <td>{{ data.PYMT_MASTCODE }}</td>
              <td>{{ data.PYMT_PAYBYCODEDESC }}</td>
              <td>{{ data.PYMT_CLOSEDATE | date }}</td>
              <td>{{ data.PYMT_SALES_PRICELVL }}</td>
              <td>{{ data.PYMT_STATUS }}</td>
              <td>{{ data.PYMT_PAYAMT }}</td>
              <td>{{ data.PYMT_ROUND_ADJ }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of Payment 1</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ paidAmountT5.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ paidAmountT5.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalDataT5.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalDataT5.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of T5</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalT5.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalT5.round_adj | number : "1.2-2" }}
              </td>
            </tr>

            <tr>
              <td></td>
              <td>T6</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let data of filteredDataT6">
              <td></td>
              <td></td>
              <td>{{ data.PYMT_MASTCODE }}</td>
              <td>{{ data.PYMT_PAYBYCODEDESC }}</td>
              <td>{{ data.PYMT_CLOSEDATE | date }}</td>
              <td>{{ data.PYMT_SALES_PRICELVL }}</td>
              <td>{{ data.PYMT_STATUS }}</td>
              <td>{{ data.PYMT_PAYAMT }}</td>
              <td>{{ data.PYMT_ROUND_ADJ }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of Payment 1</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ paidAmountT6.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ paidAmountT6.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalDataT6.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalDataT6.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of T6</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalT6.paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalT6.round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Sub Total of SC01</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalT6.sub_total_paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ subTotalT6.sub_total_round_adj | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Grand Total</td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ grandTotalData.grand_paid_amt | number : "1.2-2" }}
              </td>
              <td class="boldText">
                {{ grandTotalData.grand_round_adj | number : "1.2-2" }}
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td
                colspan="13"
                *ngIf="errorMessage != null"
                style="
                  position: static;
                  color: red;
                  width: 100%;
                  text-align: center;
                "
              >
                {{ errorMessage }}
              </td>
            </tr>
          </tbody>
          <!-- <tfoot class="footer-fixed" *ngIf="filteredData">
            <tr
              class="emptyRow"
              *ngIf="
                grandTotalData?.grand_total_quantity !== 0 &&
                grandTotalData?.grand_total_gross_sales != 0 &&
                grandTotalData?.grand_total_disc != 0 &&
                grandTotalData?.grand_total_net_sales != 0
              "
            >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr
              class="subTotalPL"
              *ngIf="
                grandTotalData?.grand_total_quantity !== 0 &&
                grandTotalData?.grand_total_gross_sales != 0 &&
                grandTotalData?.grand_total_disc != 0 &&
                grandTotalData?.grand_total_net_sales != 0
              "
            >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Terminal Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalTerminal?.terminal_quantity }}
              </td>
              <td class="boldText alignRight">
                RM
                {{ subTotalTerminal?.terminal_gross_sales | number : "1.2-2" }}
              </td>
              <td class="boldText alignRight">
                RM {{ subTotalTerminal?.terminal_disc | number : "1.2-2" }}
              </td>
              <td class="boldText alignRight">
                RM {{ subTotalTerminal?.terminal_net_sales | number : "1.2-2" }}
              </td>
              <td></td>
            </tr>
            <tr
              class="subTotalSC01"
              *ngIf="
                grandTotalData?.grand_total_quantity !== 0 &&
                grandTotalData?.grand_total_gross_sales != 0 &&
                grandTotalData?.grand_total_disc != 0 &&
                grandTotalData?.grand_total_net_sales != 0
              "
            >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText blueText">Sub Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText blueText">
                {{ subTotalData?.sub_total_net_quantity }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_net_gross | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_net_discount | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_net_sales | number : "1.2-2" }}
              </td>
              <td></td>
            </tr>
            <tr
              *ngIf="
                grandTotalData?.grand_total_quantity !== 0 &&
                grandTotalData?.grand_total_gross_sales != 0 &&
                grandTotalData?.grand_total_disc != 0 &&
                grandTotalData?.grand_total_net_sales != 0
              "
            >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText greenText">Grand Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText greenText">
                {{ grandTotalData?.grand_total_quantity }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_gross_sales | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_disc | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_net_sales | number : "1.2-2" }}
              </td>
              <td></td>
            </tr>
          </tfoot> -->
        </table>
      </div>
      <div fxFlex="100" fxHide.xl fxHide.lg fxHide.md fxHide.sm *ngIf="rows">
        <!-- <div class="addedScroll">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            *ngFor="let data of rows"
            class="addedBorder addColor"
          >
            <div fxFlex="40">
              <h4>STORE</h4>
            </div>
            <div fxFlex="60">
              <p>{{ data.store_code }}</p>
            </div>
            <div fxFlex="100"><hr /></div>

            <div fxFlex="40">
              <h4>TERMINAL CODE</h4>
            </div>
            <div fxFlex="60">
              <p>{{ data.terminal_code }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div fxFlex="40"><h4>TERMINAL</h4></div>
            <div fxFlex="60">
              <p>{{ data.terminal }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div fxFlex="40">
              <h4>PAYMENT</h4>
            </div>
            <div fxFlex="60">
              <p>{{ data.payment }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div fxFlex="40">
              <h4>DATE</h4>
            </div>
            <div fxFlex="60">
              <p>{{ data.DATE }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div fxFlex="40">
              <h4>PRICE LEVEL</h4>
            </div>
            <div fxFlex="60">
              <p>{{ data["PRICE LEVEL"] }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div fxFlex="40">
              <h4>SHIFT</h4>
            </div>
            <div fxFlex="60">
              <p>{{ data.SHIFT }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>AMOUNT</h4>
            </div>
            <div>
              <p *ngIf="data.AMOUNT != undefined">RM {{ data.AMOUNT }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>ROUNDING ADJUST</h4>
            </div>
            <div>
              <p *ngIf="data['ROUNDING ADJUST'] != undefined">
                RM {{ data["ROUNDING ADJUST"] }}
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="loadingSpinner">
  <app-loader></app-loader>
</div> -->
