/* tfoot .emptyRow {
  bottom: 90px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .subTotalPL {
  bottom: 60px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
}
tfoot .subTotalSC01 {
  bottom: 30px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
} */
tfoot {
  position: sticky;
  bottom: 0px;
}
.backgroundWhite {
  height: 170px;
}
.backgroundWhitePage {
  background: #fff;
  position: sticky !important;
  top: 170px !important;
  width: 100% !important;
  height: 60px;
}
.headingTop {
  top: 0px !important;
}
thead th {
  top: 230px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: #be2026;
}
tbody p {
  margin: 0px !important;
}
@media screen and (min-width: 1547px) {
  tfoot .emptyRow {
    bottom: 96px !important;
  }
  tfoot .subTotalPL {
    bottom: 64px !important;
  }
  tfoot .subTotalSC01 {
    bottom: 32px !important;
  }
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll;
    height: 420px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .marginAdded {
    margin: 25px 0px 15px;
  }
  .subTotalBorder {
    margin-top: 35px;
  }
}
