<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Sold Item Analysis Report</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>Sold Item Analysis Report</h2>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedStoreId"
              (selectionChange)="onSelectionChange($event)"
            >
              <mat-option *ngFor="let store of stores" [value]="store.value">
                {{ store.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [(ngModel)]="selectedTerminalId"
              (selectionChange)="onTerminalChange($event)"
            >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.value"
              >
                {{ terminal.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Group</mat-label>
            <mat-select
              [(ngModel)]="selectedGroupId"
              (selectionChange)="onGroupChange($event)"
            >
              <mat-option *ngFor="let group of groupId" [value]="group.value">
                {{ group.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <mat-select
              [(ngModel)]="selectedDepartmentId"
              (selectionChange)="onDepartmentChange($event)"
            >
              <mat-option
                *ngFor="let department of departmentId"
                [value]="department.value"
              >
                {{ department.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select
              [(ngModel)]="selectedCategoryId"
              (selectionChange)="onCategoryChange($event)"
            >
              <mat-option
                *ngFor="let category of categoryId"
                [value]="category.value"
              >
                {{ category.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stock Code</mat-label>
            <mat-select
              [(ngModel)]="selectedStockId"
              (selectionChange)="onStockChange($event)"
            >
              <mat-option *ngFor="let stock of stockId" [value]="stock.value">
                {{ stock.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="73"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
          class="checkboxBottom"
        >
          <mat-checkbox
            [checked]="isChecked"
            (change)="onCheckboxChange($event)"
            >Changed Price Only</mat-checkbox
          >
          <mat-checkbox
            [checked]="isCheckedShift"
            (change)="onShiftChange($event)"
            >Item Cancel Only</mat-checkbox
          >
          <mat-checkbox
            [checked]="isCheckedChange"
            (change)="onCheckboxChanged($event)"
            >FOC Item Only</mat-checkbox
          >
          <mat-checkbox
            [checked]="isCheckedDiscount"
            (change)="onDiscountChange($event)"
            >Discount Item Only</mat-checkbox
          >
          <mat-checkbox
            [checked]="isCheckedTransaction"
            (change)="onTransactionChange($event)"
            >Transaction Void</mat-checkbox
          >
          <mat-checkbox
            [checked]="isCheckedCombine"
            (change)="onCombineChange($event)"
            >Combine Void</mat-checkbox
          >
          <mat-checkbox
            [checked]="isCheckedNormal"
            (change)="onNormalChange($event)"
            >Combine Void</mat-checkbox
          >
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="25"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>

        <div fxFlex="14" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="14" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedStoreId"
              (selectionChange)="onSelectionChange($event)"
            >
              <mat-option *ngFor="let store of stores" [value]="store.value">
                {{ store.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [(ngModel)]="selectedTerminalId"
              (selectionChange)="onTerminalChange($event)"
            >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.value"
              >
                {{ terminal.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Group</mat-label>
            <mat-select
              [(ngModel)]="selectedGroupId"
              (selectionChange)="onGroupChange($event)"
            >
              <mat-option *ngFor="let group of groupId" [value]="group.value">
                {{ group.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <mat-select
              [(ngModel)]="selectedDepartmentId"
              (selectionChange)="onDepartmentChange($event)"
            >
              <mat-option
                *ngFor="let department of departmentId"
                [value]="department.value"
              >
                {{ department.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select
              [(ngModel)]="selectedCategoryId"
              (selectionChange)="onCategoryChange($event)"
            >
              <mat-option
                *ngFor="let category of categoryId"
                [value]="category.value"
              >
                {{ category.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stock Code</mat-label>
            <mat-select
              [(ngModel)]="selectedStockId"
              (selectionChange)="onStockChange($event)"
            >
              <mat-option *ngFor="let stock of stockId" [value]="stock.value">
                {{ stock.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isChecked"
            (change)="onCheckboxChange($event)"
            >Changed Price Only</mat-checkbox
          >
        </div>
        <div fxFlex="14" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isCheckedShift"
            (change)="onShiftChange($event)"
            >Item Cancel Only</mat-checkbox
          >
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isCheckedChange"
            (change)="onCheckboxChanged($event)"
            >FOC Item Only</mat-checkbox
          >
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isCheckedDiscount"
            (change)="onDiscountChange($event)"
            >Discount Item Only</mat-checkbox
          >
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isCheckedTransaction"
            (change)="onTransactionChange($event)"
            >Transaction Void</mat-checkbox
          >
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isCheckedCombine"
            (change)="onCombineChange($event)"
            >Combine Void</mat-checkbox
          >
        </div>
        <div fxFlex="12" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isCheckedNormal"
            (change)="onNormalChange($event)"
            >Normal Sales</mat-checkbox
          >
        </div>
        <div fxFlex="10" fxHide.xs class="alignCenter">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100" fxHide.xs>
        <table *ngIf="filteredData">
          <thead>
            <tr>
              <th (click)="sortTable('date')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Store</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('terminal')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Terminal</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_DATETIME')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Date</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_RCPTNO')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>RCPTNO</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_STOCK_CODE')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Stock Code</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SHORTDESC')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Description</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_PRICELVL')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>P/L</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_PRICE_SHIFT')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>P/S</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_STATUS')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Status</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_QTY')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Qty</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_GROSS')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Gross</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_DISCAMT')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Disc</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_NETT')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>NET</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_CHANGEPRC')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>CHGPRC</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>{{ terminal_code }}</td>
              <td>{{ terminal_name }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <ng-container *ngFor="let data of filteredData">
              <tr *ngFor="let row of data.detail">
                <td></td>
                <td></td>
                <td>
                  {{ row.SDTL_DATETIME }}
                </td>
                <td>{{ row?.SDTL_SALES_RCPTNO }}</td>
                <td>
                  {{ row?.SDTL_STOCK_CODE }}
                </td>
                <td>{{ row?.SDTL_SHORTDESC }}</td>
                <td>{{ row?.SDTL_SALES_PRICELVL }}</td>
                <td>{{ row?.SDTL_SALES_PRICE_SHIFT }}</td>
                <td>
                  {{ row?.SDTL_STATUS }}
                </td>
                <td>{{ row?.SDTL_QTY }}</td>
                <td class="alignRight">
                  RM {{ row?.SDTL_GROSS | number : "1.2-2" }}
                </td>
                <td class="alignRight">
                  RM {{ row?.SDTL_DISCAMT | number : "1.2-2" }}
                </td>
                <td class="alignRight">
                  RM {{ row?.SDTL_NETT | number : "1.2-2" }}
                </td>
                <td class="alignRight">
                  RM {{ row?.SDTL_CHANGEPRC | number : "1.2-2" }}
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="boldText">SubTotal</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="boldText">{{ data?.rcpt_quantity }}</td>
                <td class="boldText alignRight">
                  RM {{ data?.rcpt_gross_sales | number : "1.2-2" }}
                </td>
                <td class="boldText alignRight">
                  RM {{ data?.rcpt_discount | number : "1.2-2" }}
                </td>
                <td class="boldText alignRight">
                  RM {{ data?.rcpt_net_sales | number : "1.2-2" }}
                </td>
                <td></td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot class="footer-fixed">
            <tr class="emptyRow">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="subTotalPL">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">Terminal Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText">
                {{ subTotalTerminal?.terminal_quantity }}
              </td>
              <td class="boldText alignRight">
                RM
                {{ subTotalTerminal?.terminal_gross_sales | number : "1.2-2" }}
              </td>
              <td class="boldText alignRight">
                RM {{ subTotalTerminal?.terminal_disc | number : "1.2-2" }}
              </td>
              <td class="boldText alignRight">
                RM {{ subTotalTerminal?.terminal_net_sales | number : "1.2-2" }}
              </td>
              <td></td>
            </tr>
            <tr class="subTotalSC01">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText blueText">Sub Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText blueText">
                {{ subTotalData?.sub_total_net_quantity }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_net_gross | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_net_discount | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_net_sales | number : "1.2-2" }}
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText greenText">Grand Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText greenText">
                {{ grandTotalData?.grand_total_quantity }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_gross_sales | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_disc | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_net_sales | number : "1.2-2" }}
              </td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div fxFlex="100" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
        <div class="addedScroll" *ngIf="filteredData">
          <div *ngFor="let data of filteredData">
            <div
              fxLayout="row wrap"
              fxLayoutAlign="space-between start"
              *ngFor="let row of data.detail"
              class="addedBorder addColor"
            >
              <div fxFlex="40">
                <h4>Store</h4>
              </div>
              <div fxFlex="60">
                <p></p>
              </div>
              <div fxFlex="100"><hr /></div>

              <div fxFlex="40">
                <h4>Terminal</h4>
              </div>
              <div fxFlex="60">
                <p>{{ terminal_code }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div><h4 fxFlex="40">Date</h4></div>
              <div fxFlex="60">
                <p>{{ terminal_name }}</p>
                <p>{{ row?.SDTL_DATETIME }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div fxFlex="40">
                <h4>RCPTNO</h4>
              </div>
              <div fxFlex="60">
                <p>{{ row?.SDTL_SALES_RCPTNO }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div fxFlex="40">
                <h4>Stock Code</h4>
              </div>
              <div fxFlex="60">
                <p>{{ row?.SDTL_STOCK_CODE }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div fxFlex="40">
                <h4>Description</h4>
              </div>
              <div fxFlex="60">
                <p>{{ row?.SDTL_SHORTDESC }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div fxFlex="40">
                <h4>P/L</h4>
              </div>
              <div fxFlex="60">
                <p>{{ row?.SDTL_SALES_PRICELVL }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div fxFlex="40">
                <h4>P/S</h4>
              </div>
              <div fxFlex="60">
                <p>{{ row?.SDTL_SALES_PRICE_SHIFT }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div fxFlex="40">
                <h4>Status</h4>
              </div>
              <div fxFlex="60">
                <p>{{ row?.SDTL_STATUS }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div fxFlex="40">
                <h4>Qty</h4>
              </div>
              <div fxFlex="60">
                <p>{{ row?.SDTL_QTY }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div>
                <h4>Gross</h4>
              </div>
              <div>
                <p>RM {{ row?.SDTL_GROSS | number : "1.2-2" }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div>
                <h4>Disc</h4>
              </div>
              <div>
                <p>RM {{ row?.SDTL_DISCAMT | number : "1.2-2" }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div>
                <h4>Net</h4>
              </div>
              <div>
                <p>RM {{ row?.SDTL_NETT | number : "1.2-2" }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div>
                <h4>CHGPRC</h4>
              </div>
              <div>
                <p>RM {{ row?.SDTL_CHANGEPRC | number : "1.2-2" }}</p>
              </div>
            </div>
            <div
              fxLayout="row wrap"
              fxLayoutAlign="space-between start"
              class="addedBorder addColor"
            >
              <div>
                <h4>Sub Total</h4>
              </div>
              <div>
                <p></p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div>
                <h4>Qty</h4>
              </div>
              <div>
                <p>RM {{ data?.rcpt_quantity }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div>
                <h4>Gross</h4>
              </div>
              <div>
                <p>RM {{ data?.rcpt_gross_sales | number : "1.2-2" }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div>
                <h4>Disc</h4>
              </div>
              <div>
                <p>RM {{ data?.rcpt_discount | number : "1.2-2" }}</p>
              </div>
              <div fxFlex="100"><hr /></div>
              <div>
                <h4>Net</h4>
              </div>
              <div>
                <p>RM {{ data?.rcpt_net_sales | number : "1.2-2" }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="addedBorder" *ngIf="filteredData">
          <h4>Terminal Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Qty :</h4>
            </div>
            <div>
              <h4>{{ subTotalTerminal?.terminal_quantity }}</h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Gross :</h4>
            </div>
            <div>
              <h4>
                RM
                {{ subTotalTerminal?.terminal_gross_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Disc :</h4>
            </div>
            <div>
              <h4>
                RM {{ subTotalTerminal?.terminal_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Net :</h4>
            </div>
            <div>
              <h4>
                RM
                {{ subTotalTerminal?.terminal_net_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>

        <div class="addedBorder" *ngIf="filteredData">
          <h4 class="blueText">Sub Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Qty :</h4>
            </div>
            <div>
              <h4 class="blueText">
                {{ subTotalData?.sub_total_net_quantity }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Gross :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_net_gross | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Discount :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_net_discount | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Net :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_net_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
        <div class="addedBorder marginBottomAdded" *ngIf="filteredData">
          <h4 class="greenText">Grand Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Qty :</h4>
            </div>
            <div>
              <h4 class="greenText">
                {{ grandTotalData?.grand_total_quantity }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Gross :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_gross_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Disc :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Net :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_net_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadingSpinner">
  <app-loader></app-loader>
</div>
