<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Item Report By Price Level/Shift</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>
        Item Report By Price Level/Shift
      </h2>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Selected Date</mat-label>
            <mat-select
              [(ngModel)]="selectedDate"
              (selectionChange)="onDateChange($event)"
            >
              <mat-option *ngFor="let date of dates" [value]="date.value">
                {{ date.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields && selectedDate == 'custom'"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields && selectedDate == 'custom'"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.M_CODE">
                {{ store.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Price Level</mat-label>
            <mat-select
              [(ngModel)]="selectedPaymentItems"
              (selectionChange)="onPaymentChange($event)"
              multiple
            >
              <mat-option (click)="selectPaymentAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let payment of paymentId"
                [value]="payment.M_CODE"
              >
                {{ payment.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stock Code</mat-label>
            <mat-select
              [(ngModel)]="selectedStockItems"
              (selectionChange)="onStockChange($event)"
              multiple
            >
              <mat-option (click)="selectStockAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let stock of stockId"
                [value]="stock.M_STOCK_CODE"
              >
                {{ stock.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="73"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Shift Code</mat-label>
            <mat-select
              [(ngModel)]="selectedShiftItems"
              (selectionChange)="onShiftChange($event)"
              multiple
            >
              <mat-option (click)="selectShiftAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option *ngFor="let shift of shiftId" [value]="shift.M_CODE">
                {{ shift.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="25"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
        >
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>

        <div fxFlex="11" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Selected Date</mat-label>
            <mat-select
              [(ngModel)]="selectedDate"
              (selectionChange)="onDateChange($event)"
            >
              <mat-option *ngFor="let date of dates" [value]="date.value">
                {{ date.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="14"
          fxHide.xs
          class="alignCenter"
          *ngIf="selectedDate == 'custom'"
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="14"
          fxHide.xs
          class="alignCenter"
          *ngIf="selectedDate == 'custom'"
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.M_CODE">
                {{ store.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Price Level</mat-label>
            <mat-select
              [(ngModel)]="selectedPaymentItems"
              (selectionChange)="onPaymentChange($event)"
              multiple
            >
              <mat-option (click)="selectPaymentAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let payment of paymentId"
                [value]="payment.M_CODE"
              >
                {{ payment.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stock Code</mat-label>
            <mat-select
              [(ngModel)]="selectedStockItems"
              (selectionChange)="onStockChange($event)"
              multiple
            >
              <mat-option (click)="selectStockAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let stock of stockId"
                [value]="stock.M_STOCK_CODE"
              >
                {{ stock.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="13" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Shift Code</mat-label>
            <mat-select
              [(ngModel)]="selectedShiftItems"
              (selectionChange)="onShiftChange($event)"
              multiple
            >
              <mat-option (click)="selectShiftAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option *ngFor="let shift of shiftId" [value]="shift.M_CODE">
                {{ shift.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="9" fxHide.xs class="alignCenter">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100" fxHide.xs>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
          class="backgroundWhitePage"
        >
          <div fxFlex="12">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('SDTL_STOCK_CODE')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Code</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('SDTL_SHORTDESC')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Description</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('SDTL_QTY')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Quantity</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('SDTL_GROSS')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Gross</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('SDTL_DISC')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Disc</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('SDTL_NETSALES')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Net Amt</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="filteredData && !loadingSpinner">
            <tr>
              <td>STORE : {{ store_code }}</td>
              <td>{{ store_name }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr *ngFor="let data of getCurrentPageItems()">
              <td>
                PRICE LEVEL : {{ data.SDTL_SALES_PRICELVL }}<br />
                PRICE SHIFT : {{ data.SDTL_SALES_PRICE_SHIFT }}<br />
                {{ data.SDTL_STOCK_CODE }}
              </td>
              <td>{{ data.SDTL_SHORTDESC }}</td>
              <td>{{ data.SDTL_QTY }}</td>
              <td class="alignRight">
                RM {{ data.SDTL_GROSS | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.SDTL_DISC | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.SDTL_NETSALES | number : "1.2-2" }}
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="errorMessage && !loadingSpinner">
            <tr>
              <td
                colspan="13"
                style="
                  position: static;
                  color: red;
                  width: 100%;
                  text-align: center;
                "
              >
                {{ errorMessage }}
              </td>
            </tr>
          </tbody>
          <tfoot class="footer-fixed" *ngIf="filteredData && !loadingSpinner">
            <tr class="emptyRow">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="subTotalPL">
              <td></td>
              <td class="boldText">Sub Total PL/PS</td>
              <td class="boldText">
                {{ subTotalPriceLevelData?.sub_total_price_level_quantity }}
              </td>
              <td class="boldText alignRight">
                RM
                {{
                  subTotalPriceLevelData?.sub_total_price_level_gross
                    | number : "1.2-2"
                }}
              </td>
              <td class="boldText alignRight">
                RM {{ subTotalPriceLevelData?.sub_total_price_level_disc }}
              </td>
              <td class="boldText alignRight">
                RM
                {{
                  subTotalPriceLevelData?.sub_total_price_level_net_amount
                    | number : "1.2-2"
                }}
              </td>
            </tr>
            <tr class="subTotalSC01">
              <td></td>
              <td class="boldText blueText">Sub Total {{ store_code }}</td>
              <td class="boldText blueText">
                {{ subTotalData?.sub_total_quantity }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_gross | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_disc | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_net_amount | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="boldText greenText">Grand Total</td>
              <td class="boldText greenText">
                {{ grandTotalData?.grand_quantity }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_gross | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_disc | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_net_amount | number : "1.2-2" }}
              </td>
            </tr>
          </tfoot>
        </table>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
        >
          <div fxFlex="12">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
      </div>
      <div
        fxFlex="100"
        fxHide.xl
        fxHide.lg
        fxHide.md
        fxHide.sm
        *ngIf="filteredData && !loadingSpinner"
      >
        <div class="addedScroll">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            *ngFor="let data of getCurrentPageItems()"
            class="addedBorder addColor"
          >
            <div fxFlex="40">
              <h4>Code</h4>
            </div>
            <div fxFlex="60">
              <p>STORE : {{ store_code }}</p>
              <p>
                PRICE LEVEL : {{ data.SDTL_SALES_PRICELVL }}<br />
                PRICE SHIFT : {{ data.SDTL_SALES_PRICE_SHIFT }}<br />
                {{ data.SDTL_STOCK_CODE }}
              </p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div fxFlex="40">
              <h4>Description</h4>
            </div>
            <div fxFlex="60">
              <p>{{ store_name }}</p>
              <p>{{ data.SDTL_SHORTDESC }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Quantity</h4>
            </div>
            <div>
              <p>{{ data.SDTL_QTY }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Gross</h4>
            </div>
            <div>
              <p>RM {{ data.SDTL_GROSS | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Disc</h4>
            </div>
            <div>
              <p>RM {{ data.SDTL_DISC | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Net Amt</h4>
            </div>
            <div>
              <p>RM {{ data.SDTL_NETSALES | number : "1.2-2" }}</p>
            </div>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData"
          class="marginBottomAdd"
        >
          <div fxFlex="15">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
        <div class="addedBorder">
          <h4>Sub Total PL/PS</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Qty :</h4>
            </div>
            <div>
              <h4>
                {{ subTotalPriceLevelData?.sub_total_price_level_quantity }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Gross :</h4>
            </div>
            <div>
              <h4>
                RM
                {{
                  subTotalPriceLevelData?.sub_total_price_level_gross
                    | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Disc :</h4>
            </div>
            <div>
              <h4>
                RM {{ subTotalPriceLevelData?.sub_total_price_level_disc }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Net Amt :</h4>
            </div>
            <div>
              <h4>
                RM
                {{
                  subTotalPriceLevelData?.sub_total_price_level_net_amount
                    | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
        </div>
        <div class="addedBorder">
          <h4 class="blueText">Sub Total {{ store_code }}</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Qty :</h4>
            </div>
            <div>
              <h4 class="blueText">
                {{ subTotalData?.sub_total_quantity }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Gross :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_gross | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Disc :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Net Amt :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_net_amount | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
        <div class="addedBorder marginBottomAdded">
          <h4 class="greenText">Grand Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Qty :</h4>
            </div>
            <div>
              <h4 class="greenText">
                {{ grandTotalData?.grand_quantity }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Gross :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_gross | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Disc :</h4>
            </div>
            <div>
              <h4 class="greenText">RM {{ grandTotalData?.grand_disc }}</h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Net Amt :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_net_amount | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxHide.sm
  fxHide.lg
  fxHide.md
  fxHide.xl
>
  <div *ngIf="errorMessage && !loadingSpinner">
    <div
      style="
        position: static;
        color: red;
        width: 100%;
        text-align: center;
        margin-top: 20px;
      "
    >
      {{ errorMessage }}
    </div>
  </div>
</div>
<div *ngIf="loadingSpinner">
  <app-loader></app-loader>
</div>
