thead th {
  top: 195px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: #be2026;
}
tfoot .child-element:nth-child(1) {
  bottom: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
.backgroundWhitePage {
  background: #fff;
  position: sticky !important;
  top: 145px !important;
  width: 100% !important;
  height: 50px !important;
  margin-bottom: 10px !important;
}
.backgroundWhite {
  height: 145px;
}
tfoot .terminal {
  bottom: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .child-element:nth-child(3) {
  bottom: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .child-element:nth-child(4) {
  bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
.checkboxTop {
  margin-top: 15px;
}
.applyButton {
  margin-top: 13px;
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 69vh !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
