thead th {
  top: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: #be2026;
}
tfoot .child-element:nth-child(2) {
  bottom: 212px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
.backgroundWhitePage {
  background: #fff;
  position: sticky !important;
  top: 165px !important;
  width: 100% !important;
}
tfoot .terminal {
  bottom: 159px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .child-element:nth-child(4) {
  bottom: 106px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .child-element:nth-child(5) {
  bottom: 53px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 69vh !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
