<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Receipt Analysis Report</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>Receipt Analysis Report</h2>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="75"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select [ngModel]="selectedStoreId">
              <mat-option *ngFor="let store of stores" [value]="store.value">
                {{ store.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [ngModel]="selectedTerminalId"
              (selectionChange)="onTerminalChange($event)"
            >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.value"
              >
                {{ terminal.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="25"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>

        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [ngModel]="selectedStoreId"
              (selectionChange)="onSelectionChange($event)"
            >
              <mat-option *ngFor="let store of stores" [value]="store.value">
                {{ store.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [ngModel]="selectedTerminalId"
              (selectionChange)="onTerminalChange($event)"
            >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.value"
              >
                {{ terminal.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100" fxHide.xs>
        <table *ngIf="filteredData">
          <thead>
            <tr>
              <th (click)="sortTable('date')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Store</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('terminal')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Terminal</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_DATETIME')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Date</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_RCPTNO')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>RCPTNO</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_STOCK_CODE')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Shift</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SHORTDESC')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>OPERID</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_PRICELVL')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>P/L</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_SALES_PRICE_SHIFT')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>P/S</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_STATUS')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Status</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_QTY')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Qty</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_GROSS')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Gross</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_DISCAMT')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Disc Amt</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_NETT')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Tax Amt</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_CHANGEPRC')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Round Adj</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('SDTL_CHANGEPRC')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Total Sales</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of filteredData">
              <tr>
                <td>{{ data.store_code }}</td>
                <td>{{ data.store_desc }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container *ngFor="let row of data.terminal">
                <tr>
                  <td></td>
                  <td>{{ row.terminal_code }}</td>
                  <td>{{ row.terminal_desc }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngFor="let item of row.detail">
                  <td></td>
                  <td></td>
                  <td>{{ item.SALES_CLOSEDATE }}</td>
                  <td>{{ item.SALES_TRANSNO }}</td>
                  <td>{{ item.SALES_SHIFT }}</td>
                  <td>{{ item.SALES_OPERID }}</td>
                  <td>{{ item.SALES_PRICELVL }}</td>
                  <td>{{ item.SALES_PRICE_SHIFT }}</td>
                  <td>{{ item.SALES_STATUS }}</td>
                  <td>{{ item.SALES_QTY }}</td>
                  <td>RM {{ item.SALES_GROSS | number : "1.2-2" }}</td>
                  <td>RM {{ item.SALES_SUMDISCBYMNY | number : "1.2-2" }}</td>
                  <td>RM {{ item.SALES_TAXAMT | number : "1.2-2" }}</td>
                  <td>RM {{ item.SALES_ROUND_ADJ | number : "1.2-2" }}</td>
                  <td>RM {{ item.SALES_NETSALES | number : "1.2-2" }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="boldText">Terminal Total</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="boldText">
                    {{ row.terminal_quantity }}
                  </td>
                  <td class="boldText alignRight">
                    RM {{ row.terminal_sales | number : "1.2-2" }}
                  </td>
                  <td class="boldText alignRight">
                    RM {{ row.terminal_discount | number : "1.2-2" }}
                  </td>
                  <td class="boldText alignRight">
                    RM {{ row.terminal_tax_amt | number : "1.2-2" }}
                  </td>
                  <td class="boldText alignRight">
                    RM {{ row.terminal_round_adj | number : "1.2-2" }}
                  </td>
                  <td class="boldText alignRight">
                    RM {{ row.terminal_amount | number : "1.2-2" }}
                  </td>
                </tr>
              </ng-container>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="boldText blueText">Sub Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="boldText blueText">
                  {{ data.sub_total_quantity }}
                </td>
                <td class="boldText blueText alignRight">
                  RM {{ data.sub_total_sales | number : "1.2-2" }}
                </td>
                <td class="boldText blueText alignRight">
                  RM {{ data.sub_total_discount | number : "1.2-2" }}
                </td>
                <td class="boldText blueText alignRight">
                  RM {{ data.sub_total_tax_amt | number : "1.2-2" }}
                </td>
                <td class="boldText blueText alignRight">
                  RM {{ data.sub_total_round_adj | number : "1.2-2" }}
                </td>
                <td class="boldText blueText alignRight">
                  RM {{ data.sub_total_amount | number : "1.2-2" }}
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot class="footer-fixed">
            <tr class="emptyRow">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText greenText">Grand Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="boldText greenText">
                {{ grandTotalData?.grand_total_quantity }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_sales | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_discount | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_tax_amt | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_round_adj | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_amount | number : "1.2-2" }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div
        fxFlex="100"
        fxHide.xl
        fxHide.lg
        fxHide.md
        fxHide.sm
        *ngIf="filteredData"
      >
        <div class="addedScroll">
          <div
            *ngFor="let data of filteredData"
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            class="addedBorder"
          >
            <div fxFlex="40">
              <h4>Store</h4>
            </div>
            <div fxFlex="60">
              <p>{{ data.store_code }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div fxFlex="40">
              <h4>Store</h4>
            </div>
            <div fxFlex="60">
              <p>{{ data.store_desc }}</p>
            </div>
            <div fxFlex="100">
              <div
                fxLayout="row wrap"
                fxLayoutAlign="space-between start"
                class="addedBorder"
                *ngFor="let row of data.terminal"
              >
                <div fxFlex="40">
                  <h4>Terminal Code</h4>
                </div>
                <div fxFlex="60">
                  <p>{{ row.terminal_code }}</p>
                </div>
                <div fxFlex="100"><hr /></div>
                <div fxFlex="40">
                  <h4>Terminal</h4>
                </div>
                <div fxFlex="60">
                  <p>{{ row.terminal_desc }}</p>
                </div>
                <div fxFlex="100">
                  <div
                    fxLayout="row wrap"
                    fxLayoutAlign="space-between start"
                    *ngFor="let item of row.detail"
                    class="addedBorder addColor"
                  >
                    <div><h4 fxFlex="40">Date</h4></div>
                    <div fxFlex="60">
                      <p>{{ item.SALES_CLOSEDATE }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div fxFlex="40">
                      <h4>RCPTNO</h4>
                    </div>
                    <div fxFlex="60">
                      <p>{{ item.SALES_TRANSNO }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div fxFlex="40">
                      <h4>Shift</h4>
                    </div>
                    <div fxFlex="60">
                      <p>{{ item.SALES_SHIFT }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div fxFlex="40">
                      <h4>OPERID</h4>
                    </div>
                    <div fxFlex="60">
                      <p>{{ item.SALES_OPERID }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div fxFlex="40">
                      <h4>P/L</h4>
                    </div>
                    <div fxFlex="60">
                      <p>{{ item.SALES_PRICELVL }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div fxFlex="40">
                      <h4>P/S</h4>
                    </div>
                    <div fxFlex="60">
                      <p>{{ item.SALES_PRICE_SHIFT }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div fxFlex="40">
                      <h4>Status</h4>
                    </div>
                    <div fxFlex="60">
                      <p>{{ item.SALES_STATUS }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div fxFlex="40">
                      <h4>Qty</h4>
                    </div>
                    <div fxFlex="60">
                      <p>{{ item.SALES_QTY }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div>
                      <h4>Gross</h4>
                    </div>
                    <div>
                      <p>RM {{ item.SALES_GROSS | number : "1.2-2" }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div>
                      <h4>Disc Amt</h4>
                    </div>
                    <div>
                      <p>RM {{ item.SALES_SUMDISCBYMNY | number : "1.2-2" }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div>
                      <h4>Tax Amt</h4>
                    </div>
                    <div>
                      <p>RM {{ item.SALES_TAXAMT | number : "1.2-2" }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div>
                      <h4>Round Adj</h4>
                    </div>
                    <div>
                      <p>RM {{ item.SALES_ROUND_ADJ | number : "1.2-2" }}</p>
                    </div>
                    <div fxFlex="100"><hr /></div>
                    <div>
                      <h4>Total Sales</h4>
                    </div>
                    <div>
                      <p>RM {{ item.SALES_NETSALES | number : "1.2-2" }}</p>
                    </div>
                  </div>
                </div>
                <div fxFlex="100"><hr /></div>
                <h4>Terminal Total</h4>
                <div fxFlex="100"><hr /></div>
                <div>
                  <h4>Qty</h4>
                </div>
                <div>
                  <p>{{ row.terminal_quantity }}</p>
                </div>
                <div fxFlex="100"><hr /></div>
                <div>
                  <h4>Gross</h4>
                </div>
                <div>
                  <p>RM {{ row.terminal_sales | number : "1.2-2" }}</p>
                </div>
                <div fxFlex="100"><hr /></div>
                <div>
                  <h4>Disc Amt</h4>
                </div>
                <div>
                  <p>RM {{ row.terminal_discount | number : "1.2-2" }}</p>
                </div>
                <div fxFlex="100"><hr /></div>
                <div>
                  <h4>Tax Amt</h4>
                </div>
                <div>
                  <p>RM {{ row.terminal_tax_amt | number : "1.2-2" }}</p>
                </div>
                <div fxFlex="100"><hr /></div>
                <div>
                  <h4>Round Adj</h4>
                </div>
                <div>
                  <p>RM {{ row.terminal_round_adj | number : "1.2-2" }}</p>
                </div>
                <div fxFlex="100"><hr /></div>
                <div>
                  <h4>Total Sales</h4>
                </div>
                <div>
                  <p>RM {{ row.terminal_amount | number : "1.2-2" }}</p>
                </div>
              </div>
            </div>
            <div fxFlex="100"><hr /></div>
            <h4 class="blueText">Sub Total</h4>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4 class="blueText">Qty</h4>
            </div>
            <div>
              <p class="blueText">{{ data.sub_total_quantity }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4 class="blueText">Gross</h4>
            </div>
            <div>
              <p class="blueText">
                RM {{ data.sub_total_sales | number : "1.2-2" }}
              </p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4 class="blueText">Disc Amt</h4>
            </div>
            <div>
              <p class="blueText">
                RM {{ data.sub_total_discount | number : "1.2-2" }}
              </p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4 class="blueText">Tax Amt</h4>
            </div>
            <div>
              <p class="blueText">
                RM {{ data.sub_total_tax_amt | number : "1.2-2" }}
              </p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4 class="blueText">Round Adj</h4>
            </div>
            <div>
              <p class="blueText">
                RM {{ data.sub_total_round_adj | number : "1.2-2" }}
              </p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4 class="blueText">Total Sales</h4>
            </div>
            <div>
              <p class="blueText">
                RM {{ data.sub_total_amount | number : "1.2-2" }}
              </p>
            </div>
          </div>
        </div>
        <div class="addedBorder marginBottomAdded">
          <h4 class="greenText">Grand Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Qty :</h4>
            </div>
            <div>
              <h4 class="greenText">
                {{ grandTotalData?.grand_total_quantity }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Gross :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Disc Amt :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_discount | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Tax Amt :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_tax_amt | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Round Adj :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_round_adj | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Total Sales :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
        <!-- <div class="addedBorder">
          <h4>Terminal Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Qty :</h4>
            </div>
            <div>
              <h4>{{ subTotalTerminal.terminal_quantity }}</h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Gross :</h4>
            </div>
            <div>
              <h4>
                RM
                {{ subTotalTerminal.terminal_gross_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Disc :</h4>
            </div>
            <div>
              <h4>RM {{ subTotalTerminal.terminal_disc | number : "1.2-2" }}</h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4>Net :</h4>
            </div>
            <div>
              <h4>
                RM
                {{ subTotalTerminal.terminal_net_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>

        <div class="addedBorder">
          <h4 class="blueText">Sub Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Qty :</h4>
            </div>
            <div>
              <h4 class="blueText">
                {{ subTotalData.sub_total_net_quantity }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Gross :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData.sub_total_net_gross | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Discount :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData.sub_total_net_discount | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Net :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData.sub_total_net_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
        <div class="addedBorder marginBottomAdded">
          <h4 class="greenText">Grand Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Qty :</h4>
            </div>
            <div>
              <h4 class="greenText">
                {{ grandTotalData?.grand_total_quantity }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Gross :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_gross_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Disc :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Net :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_net_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadingSpinner">
  <app-loader></app-loader>
</div>
