<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Inactive Stock Listing Report</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>Inactive Stock Listing Report</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100">
        <table>
          <thead>
            <tr>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>NO</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Stock Code</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Description</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Create Date</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('Store')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Change Date</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td
                colspan="5"
                *ngIf="errorMessage != null"
                style="
                  position: static;
                  color: red;
                  width: 100%;
                  text-align: center;
                "
              >
                {{ errorMessage }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
