tfoot .emptyRow {
  bottom: 56px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .subTotalPL {
  bottom: 28px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
