<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Transaction Detail Report</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>Transaction Detail Report</h2>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.M_CODE">
                {{ store.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [(ngModel)]="selectedTerminalItems"
              (selectionChange)="onTerminalChange($event)"
              multiple
            >
              <mat-option (click)="selectTerminalAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.value"
              >
                {{ terminal.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="75"
          class="checkboxBottom"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-checkbox
            [checked]="isChecked"
            (change)="onCheckboxChange($event)"
            >Tax Inclusive</mat-checkbox
          >
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="25"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>

        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.M_CODE">
                {{ store.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Terminal</mat-label>
            <mat-select
              [(ngModel)]="selectedTerminalItems"
              (selectionChange)="onTerminalChange($event)"
              multiple
            >
              <mat-option (click)="selectTerminalAll()" [value]="'all'"
                >All</mat-option
              >
              <mat-option
                *ngFor="let terminal of terminalId"
                [value]="terminal.value"
              >
                {{ terminal.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isChecked"
            (change)="onCheckboxChange($event)"
            >Tax Inclusive</mat-checkbox
          >
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100" fxHide.xs>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
          class="backgroundWhitePage"
        >
          <div fxFlex="15">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
        <div class="marginTopAdded"></div>
        <table>
          <thead>
            <tr>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('term')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Term</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('date')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Date</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('gross_sales')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Gross_Sales</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('item_disc')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Item_Disc</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('sub_disc')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Sub_Disc</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('net_sales')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Net_Sales</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('tax_1')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Tax_1</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('tax_2')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Tax_2</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('round')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Round</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('total_sales')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Total_sales</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('item_void')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Item_Void</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('all_void')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>All_Void</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('trans_void')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Trans_void</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('refund')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Refund</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="filteredData && !loadingSpinner">
            <tr>
              <td>{{ store_code }}</td>
              <td>{{ store_name }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr *ngFor="let data of getCurrentPageItems()">
              <td>
                {{ data.term }}
              </td>
              <td>{{ data.date | date }}</td>
              <td class="alignRight">
                RM {{ data.gross_sales | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.item_disc | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.sub_disc | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.net_sales | number : "1.2-2" }}
              </td>
              <td class="alignRight">RM {{ data.tax_1 | number : "1.2-2" }}</td>
              <td class="alignRight">RM {{ data.tax_2 | number : "1.2-2" }}</td>
              <td class="alignRight" *ngIf="data.round">
                RM
                {{ data.round | number : "1.2-2" }}
              </td>
              <td class="alignRight" *ngIf="!data.round">RM 0.00</td>
              <td class="alignRight">
                RM {{ data.total_sales | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.item_void | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.all_void | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.trans_void | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.refund | number : "1.2-2" }}
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="errorMessage && !loadingSpinner">
            <tr>
              <td
                colspan="14"
                style="
                  position: static;
                  color: red;
                  width: 100%;
                  text-align: center;
                "
              >
                {{ errorMessage }}
              </td>
            </tr>
          </tbody>
          <tfoot class="footer-fixed" *ngIf="filteredData && !loadingSpinner">
            <tr class="emptyRow">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="subTotalPL">
              <td></td>
              <td class="boldText blueText">Sub-Total</td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_gross_sale | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_item_disc | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_subtotal_disc | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_net_sales | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_tax_1 | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_tax_2 | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_round_adjust | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_sale | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_item_void | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_all_void | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_trans_void | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_refund | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="boldText greenText">Grand Total</td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_gross_sale | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_item_disc | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_subtotal_disc | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_net_sales | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_tax_1 | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_tax_2 | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_round_adjust | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_sale | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_item_void | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_all_void | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_trans_void | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_refund | number : "1.2-2" }}
              </td>
            </tr>
          </tfoot>
        </table>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
        >
          <div fxFlex="15">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div>
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
        <div class="addedScroll" *ngIf="filteredData && !loadingSpinner">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            *ngFor="let data of getCurrentPageItems()"
            class="addedBorder addColor"
          >
            <div fxFlex="40">
              <h4>Term</h4>
            </div>
            <div fxFlex="60">
              <p>{{ store_code }}</p>
              <p>{{ data.term }}</p>
            </div>
            <div fxFlex="100"><hr /></div>

            <div fxFlex="40">
              <h4>Date</h4>
            </div>
            <div fxFlex="60">
              <p>{{ store_name }}</p>
              <p>{{ data.date | date }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div><h4>Gross_Sales</h4></div>
            <div>
              <p>RM {{ data.gross_sales | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Item_Disc</h4>
            </div>
            <div>
              <p>RM {{ data.item_disc | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Sub_Disc</h4>
            </div>
            <div>
              <p>RM {{ data.sub_disc | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Net_Sales</h4>
            </div>
            <div>
              <p>RM {{ data.net_sales | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Tax_1</h4>
            </div>
            <div>
              <p>{{ data.tax_1 | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Tax_2</h4>
            </div>
            <div>
              <p>RM {{ data.tax_2 | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div *ngIf="data.round">
              <h4>Round</h4>
            </div>
            <div *ngIf="data.round">
              <p>RM {{ data.round | number : "1.2-2" }}</p>
            </div>
            <div *ngIf="!data.round">
              <h4>Round</h4>
            </div>
            <div *ngIf="!data.round">
              <p>RM 0.00</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Total_sales</h4>
            </div>
            <div>
              <p>RM {{ data.total_sales | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Item_Void</h4>
            </div>
            <div>
              <p>RM {{ data.item_void | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>All_Void</h4>
            </div>
            <div>
              <p>RM {{ data.all_void | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Trans_Void</h4>
            </div>
            <div>
              <p>RM {{ data.trans_void | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Refund</h4>
            </div>
            <div>
              <p>RM {{ data.refund | number : "1.2-2" }}</p>
            </div>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
          class="marginBottomAdd"
        >
          <div fxFlex="17" class="">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
        <div class="addedBorder" *ngIf="filteredData && !loadingSpinner">
          <h4 class="blueText">Sub-Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Gross_Sales :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_gross_sale | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Item_Disc :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_item_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Sub_Disc :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_subtotal_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Net_Sales :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_net_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Tax_1 :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_tax_1 | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Tax_2 :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_tax_2 | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Round :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_round_adjust | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Total_sales :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_sale | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Item_Void :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_item_void | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">All_Void :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_all_void | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Trans_void :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_trans_void | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Refund :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_refund | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
        <div
          class="addedBorder marginBottomAdded"
          *ngIf="filteredData && !loadingSpinner"
        >
          <h4 class="greenText">Grand Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Gross_Sales :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_gross_sale | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Item_Disc :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_item_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Sub_Disc :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_subtotal_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Net_Sales :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_net_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Tax_1 :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_tax_1 | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Tax_2 :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_tax_2 | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Round :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_round_adjust | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Total_sales :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_sale | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Item_Void :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_item_void | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">All_Void :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_all_void | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Trans_void :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_trans_void | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Refund :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_refund | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadingSpinner">
  <app-loader></app-loader>
</div>
