/* You can add global styles to this file, and also import other style files */
/* Core Grid CSS */
@import "ag-grid-community/styles/ag-grid.css";
/* Quartz Theme Specific CSS */
@import "ag-grid-community/styles/ag-theme-quartz.css";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/placeholder-loading/dist/css/placeholder-loading.min.css");
body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Poppins", sans-serif;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 17px;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  --mat-mdc-form-field-label-transform: translateY(-22.75px)
    scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
  transform: var(--mat-mdc-form-field-label-transform);
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 9px;
  padding-bottom: 9px;
}
.mat-mdc-form-field-infix {
  min-height: 38px;
}
.mat-mdc-form-field {
  height: 60px;
}

[mat-menu-item].is-active,
[mat-list-item].is-active {
  background: hsla(0, 0%, 100%, 0.1) !important;
}
.mdc-list-item.mdc-list-item--with-one-line {
  height: 40px !important;
}
.mat-mdc-text-field-wrapper {
  height: 38px !important;
  flex: auto;
}
.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 8px;
}
.btn {
  background: #be2026 !important;
  border-radius: 50px !important;
  width: 135px !important;
  height: 39px !important;
  border: 0px solid !important;
  margin-bottom: 24px !important;
}
h2 {
  color: #be2026;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 45px !important;
}
.mat-mdc-icon-button.mat-mdc-button-base {
  width: 44px;
  height: 44px;
  padding: 0px;
}
.mdc-checkbox label {
  font-size: 15px !important;
}
.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #ff4081;
  --mdc-checkbox-selected-hover-icon-color: #ff4081;
  --mdc-checkbox-selected-icon-color: #ff4081;
  --mdc-checkbox-selected-pressed-icon-color: #ff4081;
}
table {
  width: 100%;
}
table th {
  background-color: #424141b3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, sans-serif !important;
  font-weight: 600;
  text-align: left !important;
  padding: 6px 10px;
}
table td {
  padding: 6px 10px;
}
h2 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.marginBottomAdded {
  margin-bottom: 12px;
}
table,
th,
td {
  border: 1px solid #6d6a6ab3;
  border-collapse: collapse;
}
.boldText {
  font-weight: 600;
}
.btn {
  margin-bottom: 20px;
}
.sort {
  height: 18px;
  filter: brightness(0) invert(1);
  margin-top: 3px;
}

.backgroundWhite {
  background: #fff;
  position: sticky !important;
  top: 0px;
  width: 100% !important;
}
mat-form-field {
  width: 90%;

  z-index: 9;
}
.addPadding {
  padding: 0px 10px;
}
table {
  width: 100%;
}

thead th,
tfoot tr {
  position: sticky;
}

thead th {
  top: 96px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: #be2026;
}

tfoot tr {
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
}
.checkboxBottom {
  margin-bottom: 22px;
}
.alignRight {
  text-align: right !important;
}
tbody tr:first-of-type td {
  padding-top: 10px;
}

tbody tr:last-of-type td {
  padding-bottom: 10px;
}
.greenText {
  color: green !important;
}
.blueText {
  color: rgb(61, 61, 234);
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button,
.pagination span {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination span {
  color: #007bff;
}
.checkboxBottom {
  margin-bottom: 22px;
}
@media screen and (max-width: 599px) {
  mat-form-field {
    width: 95%;
  }
  .alignCenter {
    display: flex;
    justify-content: center;
  }
  h4,
  p {
    margin: 0px;
  }
  h4 {
    margin-bottom: 4px;
  }
  .addedBorder {
    margin-top: 10px;
    border: 1px solid #dedede;
    padding: 5px;
    border-radius: 10px;
  }
  .addColor {
    background-image: linear-gradient(to right, white, #bfd7e3);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .marginBottomAdded {
    margin-bottom: 10px;
  }
  hr {
    border: 1px solid #dedede;
    margin: 3px 0px !important;
  }
  h2 {
    margin-top: 5px;
    font-size: 18px;
  }
  .marginTopAdded {
    margin-bottom: 8px;
  }
}
