<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Average Sales Summary Report</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>Average Sales Summary Report</h2>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="75"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.value">
                {{ store.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="75"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Sales</mat-label>
            <mat-select
              [(ngModel)]="selectedSales"
              (selectionChange)="onSalesChange($event)"
            >
              <mat-option *ngFor="let sale of sales" [value]="sale.value">
                {{ sale.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="75"
          class="checkboxBottom"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-checkbox
            [checked]="isChecked"
            (change)="onCheckboxChange($event)"
            >Tax Inclusive</mat-checkbox
          >
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="25"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>

        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Stores</mat-label>
            <mat-select
              [(ngModel)]="selectedItems"
              (selectionChange)="onSelectionChange($event)"
              multiple
            >
              <mat-option (click)="selectAll()" [value]="'all'">All</mat-option>
              <mat-option *ngFor="let store of stores" [value]="store.M_CODE">
                {{ store.M_DESC }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Sales</mat-label>
            <mat-select
              [(ngModel)]="selectedSales"
              (selectionChange)="onSalesChange($event)"
            >
              <mat-option *ngFor="let sale of sales" [value]="sale.value">
                {{ sale.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter checkboxBottom">
          <mat-checkbox
            [checked]="isChecked"
            (change)="onCheckboxChange($event)"
            >Tax Inclusive</mat-checkbox
          >
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100" fxHide.xs>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
          class="backgroundWhitePage"
        >
          <div fxFlex="15">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('CI_CLOSEDATE')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Date</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('CI_DAY')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Day</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_SALES_DINEIN')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>SALES AMT</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_BILL_DINEIN')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>BILL</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('AVG_DINEIN')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>AVG/BILL</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_SALES_TABLE')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>SALES AMT</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_BILL_TABLE')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>BILL</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('AVG_TABLE')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>AVG/BILL</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_PAX_TABLE')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>PAX</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('AVG_PAX_TABLE')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>AVG/PAX</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_SALES_TAKEAWAY')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>SALES AMT</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_BILL_TAKEAWAY')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>BILL</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('AVG_TAKEAWAY')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>AVG/BILL</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_SALES_DELIVERY')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>SALES AMT</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('F_BILL_DELIVERY')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>BILL</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th
                [ngClass]="!filteredData ? 'headingTop' : ''"
                (click)="sortTable('AVG_DELIVERY')"
              >
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>AVG/BILL</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="filteredData && !loadingSpinner">
            <tr>
              <td>{{ store_code }}</td>
              <td>{{ store_name }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr *ngFor="let data of getCurrentPageItems()">
              <td>
                {{ data.CI_CLOSEDATE | date }}
              </td>
              <td>{{ data.CI_DAY }}</td>
              <td class="alignRight">
                RM {{ data.F_SALES_DINEIN | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.F_BILL_DINEIN | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.AVG_DINEIN | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.F_SALES_TABLE | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.F_BILL_TABLE | number : "1.2-2" }}
              </td>
              <td>RM {{ data.AVG_TABLE | number : "1.2-2" }}</td>
              <td>RM {{ data.F_PAX_TABLE }}</td>
              <td class="alignRight">
                RM {{ data.AVG_PAX_TABLE | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.F_SALES_TAKEAWAY | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.F_BILL_TAKEAWAY | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.AVG_TAKEAWAY | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.F_SALES_DELIVERY | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.F_BILL_DELIVERY | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.AVG_DELIVERY | number : "1.2-2" }}
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngIf="errorMessage && !loadingSpinner">
              <td
                colspan="16"
                style="
                  position: static;
                  color: red;
                  width: 100%;
                  text-align: center;
                "
              >
                {{ errorMessage }}
              </td>
            </tr>
          </tbody>
          <tfoot class="footer-fixed" *ngIf="filteredData && !loadingSpinner">
            <tr class="emptyRow">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="subTotalPL">
              <td></td>
              <td class="boldText blueText">Sub Total of Store</td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_total_sales | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_total_bill | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_total_avg | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_table_sales | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_table_bill | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_table_avg | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_table_pax }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_table_pax_avg | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_take_away_sales | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_take_away_bill | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_take_away_avg | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_delivery_sales | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_delivery_bill | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_delivery_avg | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="boldText greenText">Grand Total</td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_total_sales | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_total_bill | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_total_avg | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_table_sales | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_table_bill | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{ grandTotalData?.grand_total_table_avg | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_table_pax }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{
                  grandTotalData?.grand_total_table_pax_avg | number : "1.2-2"
                }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{
                  grandTotalData?.grand_total_take_away_sales | number : "1.2-2"
                }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{
                  grandTotalData?.grand_total_take_away_bill | number : "1.2-2"
                }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{
                  grandTotalData?.grand_total_take_away_avg | number : "1.2-2"
                }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{
                  grandTotalData?.grand_total_delivery_sales | number : "1.2-2"
                }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{
                  grandTotalData?.grand_total_delivery_bill | number : "1.2-2"
                }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{
                  grandTotalData?.grand_total_delivery_avg | number : "1.2-2"
                }}
              </td>
            </tr>
          </tfoot>
        </table>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
          class="backgroundWhitePage"
        >
          <div fxFlex="15">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
        <div class="addedScroll" *ngIf="filteredData && !loadingSpinner">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            *ngFor="let data of filteredData"
            class="addedBorder addColor"
          >
            <div fxFlex="40">
              <h4>Date</h4>
            </div>
            <div fxFlex="60">
              <p>{{ store_code }}</p>
              <p>{{ data.CI_CLOSEDATE | date }}</p>
            </div>
            <div fxFlex="100"><hr /></div>

            <div fxFlex="40">
              <h4>Day</h4>
            </div>
            <div fxFlex="60">
              <p>{{ store_name }}</p>
              <p>{{ data.CI_DAY }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div><h4>SALES AMT</h4></div>
            <div>
              <p>RM {{ data.F_SALES_DINEIN | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>BILL</h4>
            </div>
            <div>
              <p>RM {{ data.F_BILL_DINEIN | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>AVG/BILL</h4>
            </div>
            <div>
              <p>RM {{ data.AVG_DINEIN | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>SALES AMT</h4>
            </div>
            <div>
              <p>RM {{ data.F_SALES_TABLE | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>BILL</h4>
            </div>
            <div>
              <p>RM {{ data.F_BILL_TABLE | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div><h4>AVG/BILL</h4></div>
            <div>
              <p>RM {{ data.AVG_TABLE | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>PAX</h4>
            </div>
            <div>
              <p>RM {{ data.F_PAX_TABLE }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>AVG/PAX</h4>
            </div>
            <div>
              <p>RM {{ data.AVG_PAX_TABLE | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>SALES AMT</h4>
            </div>
            <div>
              <p>RM {{ data.F_SALES_TAKEAWAY | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>BILL</h4>
            </div>
            <div>
              <p>RM {{ data.F_BILL_TAKEAWAY | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>AVG/BILL</h4>
            </div>
            <div>
              <p>RM {{ data.AVG_TAKEAWAY | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>SALES AMT</h4>
            </div>
            <div>
              <p>RM {{ data.F_SALES_DELIVERY | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>BILL</h4>
            </div>
            <div>
              <p>RM {{ data.F_BILL_DELIVERY | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>AVG/BILL</h4>
            </div>
            <div>
              <p>RM {{ data.AVG_DELIVERY | number : "1.2-2" }}</p>
            </div>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData"
          class="backgroundWhitePage"
        >
          <div fxFlex="15">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span *ngIf="shouldDisplayEllipsis()">...</span>

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
        <div class="addedBorder" *ngIf="filteredData">
          <h4 class="blueText">Sub Total of Store</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">SALES AMT :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_total_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">BILL :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_total_bill | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">AVG/BILL :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_total_avg | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">SALES AMT :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_table_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">BILL :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_table_bill | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">AVG/BILL :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_table_avg | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">PAX :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_table_pax }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">AVG/PAX :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_table_pax_avg | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">SALES AMT :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_take_away_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">BILL :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_take_away_bill | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">AVG/BILL :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_take_away_avg | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">SALES AMT :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_delivery_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">BILL :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_delivery_bill | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">AVG/BILL :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_delivery_avg | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
        <div class="addedBorder marginBottomAdded" *ngIf="filteredData">
          <h4 class="greenText">Grand Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">SALES AMT :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_total_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">BILL :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_total_bill | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">AVG/BILL :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_total_avg | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">SALES AMT :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_table_sales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">BILL :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_table_bill | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">AVG/BILL :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_table_avg | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">PAX :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{ grandTotalData?.grand_total_table_pax }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">AVG/PAX :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{
                  grandTotalData?.grand_total_table_pax_avg | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">SALES AMT :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{
                  grandTotalData?.grand_total_take_away_sales | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">BILL :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{
                  grandTotalData?.grand_total_take_away_bill | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">AVG/BILL :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{
                  grandTotalData?.grand_total_take_away_avg | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">SALES AMT :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{
                  grandTotalData?.grand_total_delivery_sales | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">BILL :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{
                  grandTotalData?.grand_total_delivery_bill | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">AVG/BILL :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{
                  grandTotalData?.grand_total_delivery_avg | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadingSpinner">
  <app-loader></app-loader>
</div>
