table {
  width: 100%;
  /* max-height: 300px !important;
      overflow: auto !important; */
}
table th {
  background-color: #424141b3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, sans-serif !important;
  font-weight: 600;
  text-align: left !important;
  padding: 6px 10px;
}
table td {
  padding: 6px 10px;
}
h2 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.marginBottomAdded {
  margin-bottom: 12px;
}
table,
th,
td {
  border: 1px solid #6d6a6ab3;
  border-collapse: collapse;
}
.boldText {
  font-weight: 700;
}
.btn {
  margin-bottom: 20px;
}
.sort {
  height: 18px;
  filter: brightness(0) invert(1);
  margin-top: 3px;
}

.backgroundWhite {
  background: #fff;
  position: sticky !important;
  top: 0px;
  width: 100% !important;
}
mat-form-field {
  width: 90%;

  z-index: 9;
}
.addPadding {
  padding: 0px 10px;
}
table {
  width: 100%;
}

thead th,
tfoot tr {
  position: sticky;
}

thead th {
  top: 96px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: gray;
}

tfoot tr {
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
}
tfoot .emptyRow {
  bottom: 88px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .subTotalPL {
  bottom: 44px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
}
.alignRight {
  text-align: right !important;
}
/*give some space between thead and tfoot*/

tbody tr:first-of-type td {
  padding-top: 10px;
}

tbody tr:last-of-type td {
  padding-bottom: 10px;
}
.greenText {
  color: green !important;
}
.blueText {
  color: rgb(61, 61, 234);
}
@media screen and (max-width: 599px) {
  mat-form-field {
    width: 95%;
  }
  .alignCenter {
    display: flex;
    justify-content: center;
  }
  h4,
  p {
    margin: 0px;
  }
  h4 {
    margin-bottom: 4px;
  }
  .addedBorder {
    margin-top: 10px;
    border: 1px solid #dedede;
    padding: 5px;
    border-radius: 10px;
  }
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 150px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .addColor {
    background-image: linear-gradient(to right, white, #bfd7e3);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .marginBottomAdded {
    margin-bottom: 10px;
  }
  hr {
    border: 1px solid #dedede;
    margin: 3px 0px !important;
  }
  h2 {
    margin-top: 5px;
    font-size: 18px;
  }
  .marginTopAdded {
    margin-bottom: 8px;
  }
}
