/* tfoot .emptyRow {
  bottom: 60px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
  border: 1px solid #6d6a6ab3;
  height: 28px;
}
tfoot .subTotalPL {
  bottom: 30px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background: #fff;
} */
tfoot {
  position: sticky;
  bottom: 0;
}
.backgroundWhite {
  height: 88px;
}
.headingTop {
  top: 0px !important;
}
.backgroundWhitePage {
  background: #fff;
  position: sticky !important;
  top: 78px !important;
  width: 100% !important;
  height: 69px;
}
thead th {
  top: 146px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9;
  background-color: #be2026;
}
@media screen and (max-width: 599px) {
  .addedScroll {
    padding: 5px 10px;
    overflow: scroll !important;
    height: 230px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
