<div fxLayout="row wrap" fxLayoutAlign="start center" class="addPadding">
  <div fxFlex="100">
    <div class="backgroundWhite">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="marginTopAdded"
        fxHide.sm
        fxHide.md
        fxHide.lg
        fxHide.xl
      >
        <div>
          <h2>Hourly Sales Report</h2>
        </div>
        <div>
          <h2 (click)="formFieldsAdded()" *ngIf="!priceLevelFormFields">+</h2>
          <h2 (click)="formFieldsRemoved()" *ngIf="priceLevelFormFields">-</h2>
        </div>
      </div>
      <h2 class="marginBottomAdded" fxHide.xs>Hourly Sales Report</h2>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="100"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="73"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <mat-form-field appearance="outline">
            <mat-label>Grouping By</mat-label>
            <mat-select
              [(ngModel)]="selectedGroupingId"
              (selectionChange)="onGroupingChange($event)"
            >
              <mat-option
                *ngFor="let group of groupingId"
                [value]="group.value"
              >
                {{ group.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          fxFlex="23"
          fxFlex.xs="25"
          class="alignCenter"
          *ngIf="priceLevelFormFields"
          fxHide.sm
          fxHide.md
          fxHide.lg
          fxHide.xl
        >
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>

        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>From Date</mat-label>
            <input
              matInput
              [matDatepicker]="fromDate"
              placeholder="From Date"
              [formControl]="dateFrom"
              (dateChange)="selectedFormDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>To Date</mat-label>
            <input
              matInput
              [matDatepicker]="toDate"
              placeholder="To Date"
              [formControl]="dateTo"
              (dateChange)="selectedToDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <mat-form-field appearance="outline">
            <mat-label>Grouping By</mat-label>
            <mat-select
              [(ngModel)]="selectedGroupingId"
              (selectionChange)="onGroupingChange($event)"
            >
              <mat-option
                *ngFor="let group of groupingId"
                [value]="group.value"
              >
                {{ group.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15" fxHide.xs class="alignCenter">
          <button
            mat-flat-button
            class="btn"
            color="primary"
            (click)="applyDateFilter()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="100" fxHide.xs>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
          class="backgroundWhitePage"
        >
          <div fxFlex="12">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span
              *ngIf="
                totalPages > pagesToShow &&
                currentPage + Math.floor(pagesToShow / 2) < totalPages
              "
              >...</span
            >

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th (click)="sortTable('hourly_range')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Hourly</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('total_rcptno')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>#RCPT</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('total_gross')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Gross</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('total_disc')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Discount</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('total_netsales')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Net</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('total')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Total</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
              <th (click)="sortTable('contribution')">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div>Contribution</div>
                  <div><img src="../../../assets/sort.png" class="sort" /></div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="filteredData && !loadingSpinner">
            <tr>
              <td>{{ store_code }}</td>
              <td>{{ store_name }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr *ngFor="let data of getCurrentPageItems()">
              <td>
                {{ data.hourly_range }}
              </td>
              <td>{{ data.total_rcptno }}</td>
              <td class="alignRight">
                RM {{ data.total_gross | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.total_disc | number : "1.2-2" }}
              </td>
              <td class="alignRight">
                RM {{ data.total_netsales | number : "1.2-2" }}
              </td>
              <td class="alignRight">RM {{ data.total | number : "1.2-2" }}</td>
              <td class="alignRight">
                RM {{ data.contribution | number : "1.2-2" }}
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="errorMessage != null && !loadingSpinner">
            <tr>
              <td
                colspan="13"
                style="
                  position: static;
                  color: red;
                  width: 100%;
                  text-align: center;
                "
              >
                {{ errorMessage }}
              </td>
            </tr>
          </tbody>
          <tfoot class="footer-fixed" *ngIf="filteredData && !loadingSpinner">
            <tr class="emptyRow">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="subTotalPL">
              <td class="boldText blueText">Sub-Total</td>
              <td class="boldText blueText alignRight">
                {{ subTotalData?.sub_total_rcpt }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_gross | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_disc | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_netsales | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM
                {{ subTotalData?.sub_total_total | number : "1.2-2" }}
              </td>
              <td class="boldText blueText alignRight">
                RM {{ subTotalData?.sub_total_contribution | number : "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td class="boldText greenText">Grand Total</td>
              <td class="boldText greenText alignRight">
                {{ grandTotalData?.grand_total_rcpt }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_gross | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_disc | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_netsales | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM {{ grandTotalData?.grand_total_total | number : "1.2-2" }}
              </td>
              <td class="boldText greenText alignRight">
                RM
                {{
                  grandTotalData?.grand_total_contribution | number : "1.2-2"
                }}
              </td>
            </tr>
          </tfoot>
        </table>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
        >
          <div fxFlex="12">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span
              *ngIf="
                totalPages > pagesToShow &&
                currentPage + Math.floor(pagesToShow / 2) < totalPages
              "
              >...</span
            >

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
        <div class="addedScroll" *ngIf="filteredData && !loadingSpinner">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            *ngFor="let data of getCurrentPageItems()"
            class="addedBorder addColor"
          >
            <div fxFlex="40">
              <h4>Hourly</h4>
            </div>
            <div fxFlex="60">
              <p>{{ store_code }}</p>
              <p>{{ data.hourly_range }}</p>
            </div>
            <div fxFlex="100"><hr /></div>

            <div fxFlex="40">
              <h4>#RCPT</h4>
            </div>
            <div fxFlex="60">
              <p>{{ store_name }}</p>
              <p>{{ data.total_rcptno }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div><h4>Gross</h4></div>
            <div>
              <p>RM {{ data.total_gross | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Discount</h4>
            </div>
            <div>
              <p>RM {{ data.total_disc | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Net</h4>
            </div>
            <div>
              <p>RM {{ data.total_netsales | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Total</h4>
            </div>
            <div>
              <p>RM {{ data.total | number : "1.2-2" }}</p>
            </div>
            <div fxFlex="100"><hr /></div>
            <div>
              <h4>Contribution</h4>
            </div>
            <div>
              <p>RM {{ data.contribution | number : "1.2-2" }}</p>
            </div>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          *ngIf="filteredData && !loadingSpinner"
          class="marginBottomAdd"
        >
          <div fxFlex="17" class="">
            <mat-form-field appearance="outline">
              <mat-label>Items per page:</mat-label>
              <mat-select
                id="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (selectionChange)="onItemsPerPageChange()"
              >
                <mat-option
                  *ngFor="let option of itemsPerPageOptions"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">
              Previous
            </button>
            <ng-container *ngFor="let page of getPageRange()">
              <button
                (click)="goToPage(page)"
                [class.active]="currentPage === page"
              >
                {{ page }}
              </button>
            </ng-container>

            <span
              *ngIf="
                totalPages > pagesToShow &&
                currentPage + Math.floor(pagesToShow / 2) < totalPages
              "
              >...</span
            >

            <button
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              Next
            </button>
          </div>
          <div style="margin-top: 5px">
            <p>Displaying: {{ getDisplayRange() }}</p>
          </div>
        </div>
        <div class="addedBorder" *ngIf="filteredData && !loadingSpinner">
          <h4 class="blueText">Sub-Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">#RCPT :</h4>
            </div>
            <div>
              <h4 class="blueText">RM {{ subTotalData?.sub_total_rcpt }}</h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Gross :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_gross | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Discount :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Net :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_netsales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Total :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM
                {{ subTotalData?.sub_total_total | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="blueText">Contribution :</h4>
            </div>
            <div>
              <h4 class="blueText">
                RM {{ subTotalData?.sub_total_contribution | number : "1.2-2" }}
              </h4>
            </div>
          </div>
        </div>
        <div
          class="addedBorder marginBottomAdded"
          *ngIf="filteredData && !loadingSpinner"
        >
          <h4 class="greenText">Grand Total</h4>
          <hr />
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">#RCPT :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_rcpt }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Gross :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_gross | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Discount :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_disc | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Net :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_netsales | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Total :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM {{ grandTotalData?.grand_total_total | number : "1.2-2" }}
              </h4>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div>
              <h4 class="greenText">Contribution :</h4>
            </div>
            <div>
              <h4 class="greenText">
                RM
                {{
                  grandTotalData?.grand_total_contribution | number : "1.2-2"
                }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxHide.sm
  fxHide.lg
  fxHide.md
  fxHide.xl
>
  <div *ngIf="errorMessage && !loadingSpinner">
    <div
      style="
        position: static;
        color: red;
        width: 100%;
        text-align: center;
        margin-top: 20px;
      "
    >
      {{ errorMessage }}
    </div>
  </div>
</div>
<div *ngIf="loadingSpinner">
  <app-loader></app-loader>
</div>
